{{define "index/members"}}

<!DOCTYPE html>
<html lang="en">

<head>
    {{template "layout/meta" .}}
    <title>VLCS@SCU</title>
</head>

<body class="text-dark">

    {{template "layout/header" .}}

    <!-- member -->

    <section class="">
        <div class="container">
            <h3 class="mt-5 py-3 fw-bolder">课题组成员 Members</h3>

            <div style="border-top:1px dashed #000000;"></div>

            <p class="mt-5 fw-bolder">课题组负责人 Principal Investigator</p>
            <div class="mt-lg-4 mt-md-2">
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">杨彦兵</p>
                        <p>特聘副研究员<br>邮箱：yangyanbing@scu.edu.cn<br>Research Interests： Intelligent Sensing and Communication， Visible Light Communication and Sensing， Internet of Things， Industrial Internet</p>
                        <a href="https://cs.scu.edu.cn/info/1286/13600.htm" class="mx-2">School Homepage</a>
                        <a href="#" class="mr-2">Google Scholar</a>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/sun_ym.png" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">孙奕髦</p>
                        <p>特聘副研究员<br>邮箱：yimaosun@scu.edu.cn<br>Research Interests：Internet of Things， Statistical Signal Processing， Target Positioning， Parameter
                            Estimation</p>
                        <a href="https://cs.scu.edu.cn/info/1286/16228.htm" class="mx-2">School Homepage</a>
                        <a href="#" class="mr-2">Google Scholar</a>
                    </div>
                </div>
            </div>

            <p class="mt-5 fw-bolder">博士生 Ph.D. Students</p>
            <div class="mt-lg-4 mt-md-2 ">
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">张频频</p>
                        <p>2022.09——<br>邮箱：zhangpinpin1@stu.scu.edu.cn<br>Research Intrests: Research Interests：Intelligent Sensing and Communication，Wireless Network，Optical Camera Communication</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">刘子威</p>
                        <p>2023.09——<br>邮箱：liuziwei0901@stu.scu.edu.cn<br>Research Interests：Mobile Computing，Optical Camera Communication，Deep Learning，Computer Vision</p>
                    </div>
                </div>
            </div>

            <p class="mt-5 fw-bolder">硕士生 Master Students</p>
            <div class="mt-lg-4 mt-md-2 ">
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">胡超</p>
                        <p>2021.09——<br>邮箱：xyzhc@outlook.com<br>Research Interests：Wireless Network，Wi-Fi Sensing，Visible Light Communication</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">徐屹淮</p>
                        <p>2021.09——<br>邮箱：yihuaixu@stu.scu.edu.cn<br>Research Interests：Visible Light Positioning</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">朱纪霏</p>
                        <p>2021.09——<br>邮箱：zjf_wanzi@foxmail.com<br>Research Interests：Visible Light Sensing，Human-computer Interaction，Integrated Sensing and Communication</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">鲁邦彦</p>
                        <p>2022.09——<br>邮箱：codeerror0x01@gmail.com<br>Research Interests：Wireless Network, Visiable Light Communication</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">唐北川</p>
                        <p>2022.09——<br>邮箱：tbc@stu.scu.edu.cn<br>Research Interests：Object Localization，Parameter Estimation</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">汪晨晨</p>
                        <p>2022.09——<br>邮箱：243588569@qq.com<br>Research Interests：Robot，Visible Light Communication</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">吴嘉诚</p>
                        <p>2023.09——<br>邮箱：zinkt@foxmail.com<br>Research Interests：Wireless Network, Visiable Light Communication</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">孙伟</p>
                        <p>2023.09——<br>邮箱：zinkt@foxmail.com<br>Research Interests：Wireless Network, Visiable Light Communication</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">曹鸣皋</p>
                        <p>2023.09——<br>邮箱：zinkt@foxmail.com<br>Research Interests：Wireless Network, Visiable Light Communication</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../static/img/profile/yang_yb.jpg" class="img-fluid" alt="Image">
                    </div>
                    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                        <p class="fw-bolder">李承育</p>
                        <p>2023.09——<br>邮箱：zinkt@foxmail.com<br>Research Interests：Wireless Network, Visiable Light Communication</p>
                    </div>
                </div>
            </div>

            <p class="mt-5 fw-bolder">本科生 Undergraduate Students</p>
            <div class="mt-lg-4 mt-md-2 ">
                <div class="row my-3">
                    <p><span>2021级：郑浩（计科），胡琳悦（通信），左宜鑫（电子）</span>
                    </p>
                    <p><span>2020级：莫若桑（计科） 宋扬（物联网）
                            杨嘉琦（物联网） 朱伟业（人工智能） 蒋磊（互联化工）</span></p>
                    <p><span>2019级：郭美彤（物联网），杜凡（物联网），冉红阳（计科）</span>
                    </p>
                </div>
            </div>

            <p class="mt-5 fw-bolder">毕业生 Alumni</p>
            <div class="mt-lg-4 mt-md-2 ">
                <div class="row my-3">
                    <div>
                        <p><span>2020级硕士</span><span>研究生</span><span>：刘子威（川大读博）</span>
                        </p>
                        <p><span>2019级硕士研究生：张频频（川大读博）</span>
                        </p>
                        <p><span>2018级本科生：刘水云（西北工大读研），王秋雨（川大读研），任浩龙（腾讯），袁帅，候业君</span>
                        </p>
                        <p><span>2017级</span><span>本科生</span><span>：陈泽群（清华深读研），林润基（中科院自动化所读研），胡超（川大读研），官靖壹（腾讯），朱纪霏（川大读研）</span>
                        </p>
                        <p><span>2016级</span><span>本科生</span><span>：黄心雨（北大读研），陆琳博，吕东旭，邱罗财，赵君婷<span></span></span></p>
                    </div>


                </div>
            </div>
        </div>
    </section>

    {{template "layout/footer" .}}


</body>


</html>


{{end}}